@import "../abstract";

.timeline {
    padding: 1em;
    position: relative;
    line-height: 1.4;
    &::after {
        content: "";
        position: absolute;
        width: 4px;
        background: $grey;
        top: 0;
        bottom: 0;
        left: 40%;
    }
    .text {
        @include font(
            $font-family: $primary_font,
            $font-size: 1.3em,
            $font-weight: 600
        );
        border: 2px solid $grey;
        border-radius: 15px;
        padding: 0.75em;
        left: 43.3%;
        position: relative;
        width: 500px;
        margin-bottom: 3em;
        &::after {
            content: "";
            background: $primary-gradient;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            margin-left: -3.2em;
        }
        .year {
            color: $dark_grey;
        }
        .program {
            font-size: 0.9em;
            font-weight: normal;
        }
    }
}
