@mixin flex($direction, $justify-content, $align-items, $gap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
    gap: $gap;
}

@mixin smooth-font {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin font($font-family, $font-size, $font-weight) {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
}

@mixin gradient-text($background) {
    background: $background;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
